#persons-table, #persons-table * {
  border-spacing: 5px;
  borde-collapse: collapse;
  border: solid;
}
tr{
  font-size: 120%;
}
.table-headings{
  font-size: 200%;
}
.first-style{
  text-shadow: 2px 2px 5px #3df709, 2px 2px 5px #ea10c9;
  font-style: italic;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 20% round;
}
body{
  background: linear-gradient(to top, #d81be5, #237709, #a8c7db)
}
tr{
  background: linear-gradient(to right, #f2ee0e, #2575ed, #0bef07)
}
#redButton{
    background-color: pink;
    font-size: 20px;
    border-radius: 50px;
}
#greenButton{
    background-color: lightgreen;
      font-size: 20px;
      border-radius: 50px;
}
#blueButton{
    background-color: lightblue;
      font-size: 20px;
      border-radius: 50px;
}
