#persons-table, #persons-table * {
  border-spacing: 5px;
  borde-collapse: collapse;
  border: solid;
}
#redButton{
    background-color: pink;
}
#greenButton{
    background-color: lightgreen;
}
#blueButton{
    background-color: lightblue;
}
